<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthylives">

    <application
        android:allowBackup="true"
        android:icon="@drawable/running_cm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view_AllDataActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".visual_workoutActivity"
            android:parentActivityName=".workoutActivity" />
        <activity android:name=".Social.friendProfileActivity"></activity>
        <activity
            android:name=".Social.friends_listActivity"
            android:parentActivityName=".Social.profileSettingActivity" />
        <activity
            android:name=".Social.profileSettingActivity"
            android:parentActivityName=".MainActivity" />
        <service
            android:name=".Services.sendNotif"
            android:exported="false" />
        <service
            android:name=".Services.SendDataToDB"
            android:exported="false" />

        <receiver android:name=".Services.SendDataDB" />

        <activity
            android:name=".viewPlanActivity"
            android:parentActivityName=".workoutPlanActivity" />
        <activity
            android:name=".workoutPlanActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".logCardioActivity"
            android:parentActivityName=".workoutActivity" />
        <activity
            android:name=".socialActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sleepActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".workoutActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.SleepTimer" />
    </application>

</manifest>